body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #19107d;
  text-align: center;
}

a {
  color: #23068f;
  text-decoration-color: rgb(192, 187, 245);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  padding: 20px 0;
  background-color: #c2dcf1;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
}

.name {
  margin-bottom: 0;
}

.contact-info {
  margin-top: 0;
  margin-bottom: 2px;
  background-color: #d2e5f5;
  margin-block-start: 24px;
  margin-bottom: 10px;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 18px; 
}

.section {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-weight: initial;
  font-style: oblique;
  background-color:  #d2e5f5;
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 18px; 
}

.section-list {
  color: #300363;
  font-weight: initial;
  margin: 10px 0;
  padding: 10px 50px;
  font-size: 18px; 
  text-align: center; 
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 15px;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

.date {
  margin-top: 5px;
  margin-bottom: 20px;
}

.skill-list li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f3f3f4;
  border-radius: 10px;
}

.footer {
  padding: 20px 20px;
  color: #17171d;
  background-color: #6e7275; 
  text-align: left; 
  margin-top: 50px;
  background-color: #f2f2f2;
}

@media only screen and (max-width: 768px) { 
  body { 
   font-size: 14px; 
  } 

  .header { 
    padding: 10px 0; 
    text-align: center; 
  } 

  .avatar { 
    width: 100px; 
    height: 100px; 
    margin-bottom: 10px; 
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
  } 

  .name { 
   font-size: 24px;
  } 

  .contact-info { 
   font-size: 14px; 
  } 

  .section { 
    margin-bottom: 20px; 
  } 

  .section-title {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .section-title, .section-list {
    padding: 10px 20px;
    font-size: 16px;
    }
  
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .date { 
    font-size: 16px; 
    margin-top: 5px; 
    margin-bottom: 10px; 
  } 

  .skill-list li { 
    font-size: 16px; 
    padding: 3px 8px; 
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 15px; 
  } 

  .footer { 
    padding: 10px 10px; 
    text-align: left; 
  } 
}

